<style type="text/css">

  body {
    font-family: Roboto;
    background-image: url(https://us.123rf.com/450wm/microone/microone1707/microone170700356/83074030-flaumige-wei%C3%9Fe-karikaturwolken-im-vektorsatz-des-blauen-himmels.jpg?ver=6)

  #weisserbalken {
    background-color: white;
    height: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    padding: 2px;
  }

  #topbox {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 740px;
    width: 1050px;
  }

  #mittlererblock {
    width: 1050px;
    height: 450px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  .mittlerebloecke {
    width: 330px;
    margin: 10px;
    float: left;
    overflow: auto;
  }





<style>

