body
{
    font-family:"Comic Sans MS";
    font-size:18px;
    color: #FFFFFF;
    line-height:1.6em;
    background-color: #2E64FE;
    margin:auto;
}
.h1
{
    font-size:36px;
}
li
{
    list-style:none;
}

a
{
    text-decoration:none;
}

label
{
    display:inline-block;
    width:210px;
}

input[type='text']
{
    width:89%;
    padding:4px;
    border-radius:5px;
    border:1px #FFFFFF solid;

}
input[type='number']
{
    width:50px;
    padding:4px;
    border-radius:5px;
    border:1px #FFFFFF solid;

}

.container
{
    width:60%;
    margin:0 auto;
    overflow:auto;
    padding-left:30px;
}

.center_container
{
    text-align: center;
}

header
{
    border-bottom:3px #FFFFFF solid;
    text-align:center;
}

footer
{
    border-top:3px #FFFFFF solid;
    text-align:center;
    padding-top:5px;
}
main
{
    padding-bottom:20px;
}

.button
{
    display:inline-block;
    color:#FFFFFF;
    background: #0101DF;
    border:1px dotted #FFFFFF;
    padding: 6px 13px;
    text-align:center;
}
.current
{
    padding:10px;
    background:#0101DF;
    text-align:center;
}

@media only screen and (width:980px)
{
    .container
    {
        width:800%;
    }
}
.arrow
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_container
{
    text-align:center;
    width:101%;
    margin-top: -3.5%;

}
.button_container2
{
    text-align:center;
    width:101%;
    margin-top: 3.5%;

}
.clickhere
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blink {
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background: red;
    background: -webkit-linear-gradient(left, red, orangered, orange, yellow);
    background: -o-linear-gradient(right, red, orangered, orange, yellow);
    background: -moz-linear-gradient(right, red, orangered, orange, yellow);
    background: linear-gradient(to right, red, orangered, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}

@keyframes animation_blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.scam1
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:30px;
}
.nyan
{
    display: flex;
    justify-content: center;
    align-items: center;
}